# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\wampstack\apache2\htdocs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
